Flask==3.1.0
Werkzeug==3.1.0
flask-login==0.6.3
flask-dance==7.0.0
flask-sqlalchemy==3.1.1
requests==2.31.0
python-dotenv==0.20.0
google-genai==1.10.0
gunicorn==23.0.0
feedparser==6.0.11
Markdown==3.7
elevenlabs==2.45.0